{{#partial "content"}}
    <div class="header">
        <h2>Get the news as it breaks</h2>

    </div>
    {{#each news}}

        <div class="news">
            <div>
                <p>{{news}}</p>
            </div>
            <p>{{#if department}}
                Department: {{department.departmentName}}
            {{/if}}
            </p>
        </div>
    {{/each}}
{{/partial}}
{{> layouts.hbs}}
