<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>


<section>
    <nav>
        <ul>
            <a href="/">Home</a>
            <a href="#" class="tg-admin">Admin</a>
            <div class="admin-toggle">
                <a href="/main#news">Create News</a>
                <a href="/main#department">Create Department</a>
                <a href="/main#user">Create User</a>
            </div>
        </ul>
    </nav>

    <section class="data-cont">
        {{#block "content"}}

        {{/block}}
    </section>

</section>

</body>
</html>